
body
	background -webkit-radial-gradient(center, circle cover, #FFFFFF 0%, #C5C5C5 100%)

	.tu-tratamiento
		* 
			color #444444

		h1			
			text-shadow 0 1px 0 #808080, 0 2px 0 #555, 0 3px 0 #222, 0 4px 0 #131313, 0 5px 0 #7e7e7e, 0 6px 1px rgba(0, 0, 0, 0), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 20px 20px rgba(0, 0, 0, 0.39)

		blockquote
			background rgba(0, 0, 0, 0.06)

		

